# .env.example
DB_URL=jdbc:mysql://music-app-music-app.i.aivencloud.com:18811/defaultdb?sslMode=REQUIRED
DB_USER=avnadmin
# Liên hệ Leader (hoặc bạn) để lấy Password, HOẶC tự thay bằng pass DB của cá nhân
DB_PASS="<nhập-password-tại-đây>"